body {
    text-align: center;
    font-family: Arial;
    background-color: lightblue;
}

h1 {
    color: darkblue;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}