body {
    text-align: center;
    font-family: Arial;
    background-color: lightgray;
}

h1 {
    color: purple;
}

button {
    padding: 10px;
    background-color: darkorange;
    color: white;
    border: none;
}

input {
    padding: 8px;
    margin: 10px;
}

li {
    padding: 6px;
    background-color: white;
    margin: 5px;
}